body {
    background: #FFB1AD;
    padding: 0;
    margin: 0;
}

.main_part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    cursor: pointer;
    background: #FFB1AD;
    border-block-end: 1px solid black;
}

h1 {
    width: max-content;
    color: white;
    font: italic small-caps bold 16px/2 cursive;
    font-size: 100px;
    margin: 0 auto;
    text-shadow: 5px 5px 5px black;
}

.logo_pic {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.category {
    width: 40%;
    height: max-content;
    background: white;
    margin: 20px auto;
    padding: 8px;
    border-radius: 20px;
    transition: all 3s ease 0s;
    flex-wrap: wrap;
}

.category:hover {
    cursor: pointer;
}

h2 {
    width: max-content;
    font-size: 100px;
    margin: 0 auto;
    color: black;
    font: italic 4.2rem "Fira Sans", serif;
}

.category img {
    width: 100%;
    height: contain;
    border-radius: 20px;
}

.food {
    display: none;
    width: 80%;
    height: max-content;
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    transition: all 3s ease 0s;
    align-items: center;
    padding-inline: 50px;
}

.food img {
    width: 20%;
    height: contain;
    border-radius: 20px;
}
h3 {
    display: block;
    width: max-content;
    font-size: 100px;
    color: black;
    font: italic 4.2rem "Fira Sans", serif;
}

.line {
    width: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}

h5 {
    display: block;
    width: max-content;
    color: black;
    margin: 10px auto 20px;
    font: 5.2rem "Fira Sans", serif;
}
